<div class="button-group">
  <button class="btn btn-primary" (click)="logout()">Logout</button>
</div>

<br>

<div class="form-group">
  <label for="nazivSmestaja">Naziv smeštaja:</label>
  <input id="nazivSmestaja" type="text" [(ngModel)]="nazivSmestajaUpdate" class="form-control">
  <span>| država: {{smestaj.drzava}}, grad: {{smestaj.grad}}</span>
</div>

<div class="form-group">
  <label for="opisSmestaja">Opis smeštaja:</label>
  <textarea id="opisSmestaja" [(ngModel)]="opisSmestajaUpdate" class="form-control"></textarea>
</div>

<div class="button-group">
  <button class="btn btn-success" (click)="sacuvaj(nazivSmestajaUpdate, opisSmestajaUpdate)">Sačuvaj izmenu za naziv i opis</button>
  <button class="btn btn-danger" (click)="izbrisiSmestaj()">Izbriši smeštaj</button>
</div>

<br><br>


<div style="display: flex; justify-content: space-between; align-items: flex-start;">

  <!-- Prva kolona: Lokacija -->
  <div style="width: 50%;">
    <h3>Lokacija:</h3> <!-- Naslov za mapu -->
    <div id="map" style="height: 55vh; width: 100%;"></div>
  </div>

  <!-- Druga kolona: Prikaz podataka o smeštaju (opcionalno) -->
  <div *ngIf="smestaj?.nazivSmestaja" style="width: 25%;">
    <!-- kod za prikaz smeštaja -->
  </div>

  <!-- Treća kolona: Carousel za slike smeštaja -->
  <div style="width: 60%;">
    <h3>Slike smeštaja:</h3> <!-- Naslov za carousel -->
    <div *ngIf="slikeFajlovi?.length > 0">
      <!-- Carousel kod -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button *ngFor="let slika of slikeFajlovi; let i = index"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  [attr.data-bs-slide-to]="i"
                  [class.active]="i === 0"
                  [attr.aria-label]="'Slide ' + (i + 1)">
          </button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item position-relative" *ngFor="let slika of slikeFajlovi; let i = index" [class.active]="i === 0">
            <img [src]="sanitizedImageUrl(slika)" style="height: 50vh; object-fit: cover;" class="d-block w-100">
            <!-- Delete button positioned in the center of the image -->
            <button (click)="deleteImage(slika.name)"
                    class="btn btn-danger position-absolute translate-middle"
                    style="top: 50%; left: 50%;">
              Obriši
            </button>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Prethodna</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Sledeća</span>
        </button>
      </div>
    </div>
  </div>
</div>
