<div style="text-align: center; margin-top: 20px;">
  <button (click)="logout()" class="btn btn-secondary">Logout</button>
  <br><br>

  <div class="form-group" style="max-width: 500px; margin: auto;">
    <label for="ime">Ime:</label>
    <input id="ime" type="text" [(ngModel)]="ime" class="form-control">
  </div>

  <div class="form-group" style="max-width: 500px; margin: auto;">
    <label for="prezime">Prezime:</label>
    <input id="prezime" type="text" [(ngModel)]="prezime" class="form-control">
  </div>

  <div class="form-group" style="max-width: 500px; margin: auto;">
    <label for="kontaktTelefon">Kontakt telefon:</label>
    <input id="kontaktTelefon" type="text" [(ngModel)]="kontaktTelefon" class="form-control">
  </div>

  <button (click)="promeniPodatke()" class="btn btn-primary">Promena osnovnih podataka</button>
  <br><br>

  <div class="form-group" style="max-width: 500px; margin: auto;">
    <label for="email">Email:</label>
    <input id="email" type="text" [(ngModel)]="email" (ngModelChange)="proveriEmail()" class="form-control">
  </div>

  <button (click)="PromeniEmail()" class="btn btn-primary">Promena email</button>
</div>
