<div class="button-group">
  <button (click)="logout()">Logout</button>
</div>

<br>

<div class="form-group">
  <label>Korisničko ime:</label>
  <input type="text" [(ngModel)]="korisnickoIme">
  <button class="btn btn-primary" (click)="promeniKorisnickoIme()">Promeni korisničko ime</button>
</div>

<div class="form-group">
  <label>Ime:</label>
  <input type="text" [(ngModel)]="ime">
  <button class="btn btn-primary" (click)="promeniIme()">Promeni ime</button>
</div>

<div class="form-group">
  <label>Prezime:</label>
  <input type="text" [(ngModel)]="prezime">
  <button class="btn btn-primary" (click)="promeniPrezime()">Promeni prezime</button>
</div>

<div class="form-group">
  <label>Kontakt telefon:</label>
  <input type="text" [(ngModel)]="kontaktTelefon">
  <button class="btn btn-primary" (click)="promeniKontaktTelefon()">Promeni kontakt telefon</button>
</div>

<div class="form-group">
  <label>Email:</label>
  <input type="text" [(ngModel)]="email">
  <button class="btn btn-primary" (click)="promeniEmail()">Promeni email</button>
</div>

<br>

<div style="font-size: 18px; margin-bottom: 15px;">Rezervacije:</div>

<table class="table">
  <tr>
    <th>Vlasnik</th>
    <th>Datum od</th>
    <th>Datum do</th>
    <th>Za smeštaj</th>
    <th></th>
  </tr>
  <tr *ngFor="let n of rezervacije">
    <td>{{n.vlasnik}}</td>
    <td>{{n.datumOd}}</td>
    <td>{{n.datumDo}}</td>
    <td>{{n.nazivSmestaja}}</td>
    <td>
      <button class="btn btn-danger" (click)="oktaziRezervaciju(n)">Otkaži rezervaciju</button>
    </td>
  </tr>
</table>

<br><br>
